In [1]:
# Dependencies
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import datetime

# PCR Test Counts

In [2]:
# path to CSV file
PCR_file = 'Resources/COVID-19_Diagnostic_Laboratory_Testing__PCR_Testing__Time_Series.csv'
PCR_file

'Resources/COVID-19_Diagnostic_Laboratory_Testing__PCR_Testing__Time_Series.csv'

In [3]:
# Convert CSV in pandas dataframe
PCR_df = pd.read_csv(PCR_file, encoding="ISO-8859-1")
PCR_df.head(5)

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
0,AL,Alabama,1,Region 4,Positive,3/1/2020,16,16,POINT (-86.844516 32.756889)
1,AL,Alabama,1,Region 4,Negative,3/1/2020,96,96,POINT (-86.844516 32.756889)
2,AL,Alabama,1,Region 4,Negative,3/2/2020,72,168,POINT (-86.844516 32.756889)
3,AL,Alabama,1,Region 4,Positive,3/2/2020,6,22,POINT (-86.844516 32.756889)
4,AL,Alabama,1,Region 4,Negative,3/3/2020,94,262,POINT (-86.844516 32.756889)

# Test Positive PCR

In [4]:
# Select test positive PCR results
Positive_PCR_df = PCR_df.loc[(PCR_df["overall_outcome"]=="Positive")]
Positive_PCR_df.head(10)

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
0,AL,Alabama,1,Region 4,Positive,3/1/2020,16,16,POINT (-86.844516 32.756889)
3,AL,Alabama,1,Region 4,Positive,3/2/2020,6,22,POINT (-86.844516 32.756889)
5,AL,Alabama,1,Region 4,Positive,3/3/2020,9,31,POINT (-86.844516 32.756889)
6,AL,Alabama,1,Region 4,Positive,3/4/2020,2,33,POINT (-86.844516 32.756889)
9,AL,Alabama,1,Region 4,Positive,3/5/2020,6,39,POINT (-86.844516 32.756889)
11,AL,Alabama,1,Region 4,Positive,3/6/2020,4,43,POINT (-86.844516 32.756889)
13,AL,Alabama,1,Region 4,Positive,3/7/2020,4,47,POINT (-86.844516 32.756889)
15,AL,Alabama,1,Region 4,Positive,3/8/2020,17,64,POINT (-86.844516 32.756889)
16,AL,Alabama,1,Region 4,Positive,3/9/2020,5,69,POINT (-86.844516 32.756889)
19,AL,Alabama,1,Region 4,Positive,3/10/2020,8,77,POINT (-86.844516 32.756889)

# State Selection

In [5]:
# Select States (CA, WA, NY, OH, FL, LA, MD, GA) for Project
State_Positive_PCR_df = Positive_PCR_df.loc[(Positive_PCR_df["state"]=="CA") | (Positive_PCR_df["state"]=="WA") | (Positive_PCR_df["state"]=="NY") | (Positive_PCR_df["state"]=="OH") | (Positive_PCR_df["state"]=="FL") | (Positive_PCR_df["state"]=="LA") | (Positive_PCR_df["state"]=="MD") | (Positive_PCR_df["state"]=="GA")]
State_Positive_PCR_df.head(10)

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
924,FL,Florida,12,Region 4,Positive,4/11/2021,230,2664012,POINT (-82.420978 28.260731)
927,GA,Georgia,13,Region 4,Positive,4/11/2021,66,796303,POINT (-83.426574 32.638481)
949,LA,Louisiana,22,Region 6,Positive,4/11/2021,102,507150,POINT (-91.840238 30.921314)
981,NY,New York,36,Region 2,Positive,4/11/2021,3823,2104868,POINT (-75.59655 42.921241)
1055,FL,Florida,12,Region 4,Positive,4/10/2021,3241,2663782,POINT (-82.420978 28.260731)
1057,GA,Georgia,13,Region 4,Positive,4/10/2021,297,796237,POINT (-83.426574 32.638481)
1081,LA,Louisiana,22,Region 6,Positive,4/10/2021,180,507048,POINT (-91.840238 30.921314)
1086,MD,Maryland,24,Region 3,Positive,4/10/2021,979,826034,POINT (-76.687282 38.946466)
1121,NY,New York,36,Region 2,Positive,4/10/2021,6432,2101045,POINT (-75.59655 42.921241)
1196,FL,Florida,12,Region 4,Positive,4/9/2021,5364,2660541,POINT (-82.420978 28.260731)

In [6]:
# Select requied field for Data analysis
Date_State_Positive_PCR_df = State_Positive_PCR_df.loc[:, ["state", "date", "new_results_reported", "total_results_reported", "geocoded_state"]]
Date_State_Positive_PCR_df.head()

,state,date,new_results_reported,total_results_reported,geocoded_state
924,FL,4/11/2021,230,2664012,POINT (-82.420978 28.260731)
927,GA,4/11/2021,66,796303,POINT (-83.426574 32.638481)
949,LA,4/11/2021,102,507150,POINT (-91.840238 30.921314)
981,NY,4/11/2021,3823,2104868,POINT (-75.59655 42.921241)
1055,FL,4/10/2021,3241,2663782,POINT (-82.420978 28.260731)

In [7]:
# clean "geocoded_state" in to geocode
Date_State_Positive_PCR_df['geocode'] = Date_State_Positive_PCR_df['geocoded_state'].str.replace('POINT', '')

In [8]:
Date_State_Positive_PCR_df.head(5)

,state,date,new_results_reported,total_results_reported,geocoded_state,geocode
924,FL,4/11/2021,230,2664012,POINT (-82.420978 28.260731),(-82.420978 28.260731)
927,GA,4/11/2021,66,796303,POINT (-83.426574 32.638481),(-83.426574 32.638481)
949,LA,4/11/2021,102,507150,POINT (-91.840238 30.921314),(-91.840238 30.921314)
981,NY,4/11/2021,3823,2104868,POINT (-75.59655 42.921241),(-75.59655 42.921241)
1055,FL,4/10/2021,3241,2663782,POINT (-82.420978 28.260731),(-82.420978 28.260731)

In [9]:
# clean "geocode"
Date_State_Positive_PCR_df['geocode'] = Date_State_Positive_PCR_df['geocode'].str.replace('(', '').str.replace(')', '')
Date_State_Positive_PCR_df.head(5)

,state,date,new_results_reported,total_results_reported,geocoded_state,geocode
924,FL,4/11/2021,230,2664012,POINT (-82.420978 28.260731),-82.420978 28.260731
927,GA,4/11/2021,66,796303,POINT (-83.426574 32.638481),-83.426574 32.638481
949,LA,4/11/2021,102,507150,POINT (-91.840238 30.921314),-91.840238 30.921314
981,NY,4/11/2021,3823,2104868,POINT (-75.59655 42.921241),-75.59655 42.921241
1055,FL,4/10/2021,3241,2663782,POINT (-82.420978 28.260731),-82.420978 28.260731

In [10]:
Date_State_Positive_PCR_df['geocode'] = Date_State_Positive_PCR_df['geocode'].str.split(' ')
Date_State_Positive_PCR_df.head(5)

,state,date,new_results_reported,total_results_reported,geocoded_state,geocode
924,FL,4/11/2021,230,2664012,POINT (-82.420978 28.260731),"[, -82.420978, 28.260731]"
927,GA,4/11/2021,66,796303,POINT (-83.426574 32.638481),"[, -83.426574, 32.638481]"
949,LA,4/11/2021,102,507150,POINT (-91.840238 30.921314),"[, -91.840238, 30.921314]"
981,NY,4/11/2021,3823,2104868,POINT (-75.59655 42.921241),"[, -75.59655, 42.921241]"
1055,FL,4/10/2021,3241,2663782,POINT (-82.420978 28.260731),"[, -82.420978, 28.260731]"

In [11]:
# Split geocode in to Longitude and Latitude
Date_State_Positive_PCR_df['Longitude'] = Date_State_Positive_PCR_df['geocode'].str.get(1)
Date_State_Positive_PCR_df['Latitude'] = Date_State_Positive_PCR_df['geocode'].str.get(2)
Date_State_Positive_PCR_df.head(5)

,state,date,new_results_reported,total_results_reported,geocoded_state,geocode,Longitude,Latitude
924,FL,4/11/2021,230,2664012,POINT (-82.420978 28.260731),"[, -82.420978, 28.260731]",-82.420978,28.260731
927,GA,4/11/2021,66,796303,POINT (-83.426574 32.638481),"[, -83.426574, 32.638481]",-83.426574,32.638481
949,LA,4/11/2021,102,507150,POINT (-91.840238 30.921314),"[, -91.840238, 30.921314]",-91.840238,30.921314
981,NY,4/11/2021,3823,2104868,POINT (-75.59655 42.921241),"[, -75.59655, 42.921241]",-75.59655,42.921241
1055,FL,4/10/2021,3241,2663782,POINT (-82.420978 28.260731),"[, -82.420978, 28.260731]",-82.420978,28.260731

In [12]:
# Final table creation
Date_State_Positive_PCR_df = Date_State_Positive_PCR_df.loc[:, ["state", "date", "new_results_reported", "total_results_reported", "Longitude", "Latitude"]]
Date_State_Positive_PCR_df.head()

,state,date,new_results_reported,total_results_reported,Longitude,Latitude
924,FL,4/11/2021,230,2664012,-82.420978,28.260731
927,GA,4/11/2021,66,796303,-83.426574,32.638481
949,LA,4/11/2021,102,507150,-91.840238,30.921314
981,NY,4/11/2021,3823,2104868,-75.59655,42.921241
1055,FL,4/10/2021,3241,2663782,-82.420978,28.260731

In [15]:
# Sort final table 
Date_State_Positive_PCR_df = Date_State_Positive_PCR_df.sort_values (by =["date"], axis = 0, ascending=[True])
Date_State_Positive_PCR_df

,state,date,new_results_reported,total_results_reported,Longitude,Latitude
64659,WA,1/1/2021,1402,184955,-120.592492,47.411715
64605,NY,1/1/2021,12165,1130484,-75.59655,42.921241
64571,MD,1/1/2021,5146,537017,-76.687282,38.946466
64564,LA,1/1/2021,1973,411903,-91.840238,30.921314
64618,OH,1/1/2021,5038,675177,-82.70936,40.415534
...,...,...,...,...,...,...
39874,NY,9/9/2020,962,514010,-75.59655,42.921241
5330,CA,9/9/2020,3759,815075,-119.662127,37.211164
60515,WA,9/9/2020,318,76131,-120.592492,47.411715
44291,OH,9/9/2020,1125,147095,-82.70936,40.415534
12444,GA,9/9/2020,1833,269316,-83.426574,32.638481

In [16]:
# Convert to csv
Date_State_Positive_PCR_df.to_csv(r'F:/ETL_Project/Data_for_Analysis/PositivePCR.csv', index = False, header = True)

# Hopitalization Data

In [17]:
# path to CSV file
Hosp_file = 'Resources/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_State_Timeseries.csv'
Hosp_file

'Resources/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_State_Timeseries.csv'

In [18]:
# Convert CSV in pandas dataframe
Hosp_df = pd.read_csv(Hosp_file, encoding="ISO-8859-1")
Hosp_df.head(5)

,state,date,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,...,inpatient_bed_covid_utilization_denominator,adult_icu_bed_covid_utilization,adult_icu_bed_covid_utilization_coverage,adult_icu_bed_covid_utilization_numerator,adult_icu_bed_covid_utilization_denominator,adult_icu_bed_utilization,adult_icu_bed_utilization_coverage,adult_icu_bed_utilization_numerator,adult_icu_bed_utilization_denominator,geocoded_state
0,LA,8/1/2020,43,142,37,45,139,38,12.0,221,...,322.0,0.214721,220.0,423.0,1970.0,0.725381,220.0,1429.0,1970.0,POINT (-91.840238 30.921314)
1,MA,8/1/2020,6,71,5,5,72,5,7.0,77,...,17280.0,0.034225,70.0,64.0,1870.0,0.483422,71.0,904.0,1870.0,POINT (-71.481104 42.151077)
2,MD,8/1/2020,3,41,9,3,41,9,8.0,43,...,9753.0,0.167812,39.0,171.0,1019.0,0.665703,39.0,691.0,1038.0,POINT (-76.687282 38.946466)
3,ME,8/1/2020,3,26,4,3,26,4,0.0,31,...,2916.0,0.040752,27.0,13.0,319.0,0.566456,28.0,179.0,316.0,POINT (-69.06137 45.117911)
4,MI,8/1/2020,3,90,47,7,82,51,4.0,101,...,17266.0,0.065163,94.0,104.0,1596.0,0.708020,94.0,1130.0,1596.0,POINT (-85.730977 44.874798)

# State Selection for Hospitalization

In [19]:
# Select States (CA, WA, NY, OH, FL, LA, MD, GA) for Project
State_Hosp_df = Hosp_df.loc[(Hosp_df["state"]=="CA") | (Hosp_df["state"]=="WA") | (Hosp_df["state"]=="NY") | (Hosp_df["state"]=="OH") | (Hosp_df["state"]=="FL") | (Hosp_df["state"]=="LA") | (Hosp_df["state"]=="MD") | (Hosp_df["state"]=="GA")]
State_Hosp_df.head(5)

,state,date,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,...,inpatient_bed_covid_utilization_denominator,adult_icu_bed_covid_utilization,adult_icu_bed_covid_utilization_coverage,adult_icu_bed_covid_utilization_numerator,adult_icu_bed_covid_utilization_denominator,adult_icu_bed_utilization,adult_icu_bed_utilization_coverage,adult_icu_bed_utilization_numerator,adult_icu_bed_utilization_denominator,geocoded_state
0,LA,8/1/2020,43,142,37,45,139,38,12.0,221,...,322.0,0.214721,220.0,423.0,1970.0,0.725381,220.0,1429.0,1970.0,POINT (-91.840238 30.921314)
2,MD,8/1/2020,3,41,9,3,41,9,8.0,43,...,9753.0,0.167812,39.0,171.0,1019.0,0.665703,39.0,691.0,1038.0,POINT (-76.687282 38.946466)
16,NY,8/1/2020,9,106,44,7,106,46,25.0,135,...,40550.0,0.044923,99.0,192.0,4274.0,0.521331,106.0,2334.0,4477.0,POINT (-75.59655 42.921241)
17,OH,8/1/2020,11,83,106,11,82,107,14.0,72,...,30223.0,0.108419,160.0,443.0,4086.0,0.608834,163.0,2495.0,4098.0,POINT (-82.70936 40.415534)
31,WA,8/1/2020,10,68,17,14,63,18,4.0,84,...,9037.0,0.093318,58.0,81.0,868.0,0.598398,62.0,523.0,874.0,POINT (-120.592492 47.411715)

In [20]:
# Select requied field for Data analysis
Date_Hosp_State_df = State_Hosp_df.loc[:, ["state", "date", "previous_day_admission_adult_covid_confirmed", "previous_day_admission_pediatric_covid_confirmed", "geocoded_state"]]
Date_Hosp_State_df.head()

,state,date,previous_day_admission_adult_covid_confirmed,previous_day_admission_pediatric_covid_confirmed,geocoded_state
0,LA,8/1/2020,181.0,1.0,POINT (-91.840238 30.921314)
2,MD,8/1/2020,115.0,1.0,POINT (-76.687282 38.946466)
16,NY,8/1/2020,73.0,1.0,POINT (-75.59655 42.921241)
17,OH,8/1/2020,72.0,1.0,POINT (-82.70936 40.415534)
31,WA,8/1/2020,29.0,0.0,POINT (-120.592492 47.411715)

In [21]:
# clean "geocoded_state" in to geocode
Date_Hosp_State_df['geocode'] = Date_Hosp_State_df['geocoded_state'].str.replace('POINT', '')

In [22]:
Date_Hosp_State_df.head(5)

,state,date,previous_day_admission_adult_covid_confirmed,previous_day_admission_pediatric_covid_confirmed,geocoded_state,geocode
0,LA,8/1/2020,181.0,1.0,POINT (-91.840238 30.921314),(-91.840238 30.921314)
2,MD,8/1/2020,115.0,1.0,POINT (-76.687282 38.946466),(-76.687282 38.946466)
16,NY,8/1/2020,73.0,1.0,POINT (-75.59655 42.921241),(-75.59655 42.921241)
17,OH,8/1/2020,72.0,1.0,POINT (-82.70936 40.415534),(-82.70936 40.415534)
31,WA,8/1/2020,29.0,0.0,POINT (-120.592492 47.411715),(-120.592492 47.411715)

In [23]:
Date_Hosp_State_df['geocode'] = Date_Hosp_State_df['geocode'].str.replace('(', '').str.replace(')', '')
Date_Hosp_State_df.head(5)

,state,date,previous_day_admission_adult_covid_confirmed,previous_day_admission_pediatric_covid_confirmed,geocoded_state,geocode
0,LA,8/1/2020,181.0,1.0,POINT (-91.840238 30.921314),-91.840238 30.921314
2,MD,8/1/2020,115.0,1.0,POINT (-76.687282 38.946466),-76.687282 38.946466
16,NY,8/1/2020,73.0,1.0,POINT (-75.59655 42.921241),-75.59655 42.921241
17,OH,8/1/2020,72.0,1.0,POINT (-82.70936 40.415534),-82.70936 40.415534
31,WA,8/1/2020,29.0,0.0,POINT (-120.592492 47.411715),-120.592492 47.411715

In [24]:
Date_Hosp_State_df['geocode'] = Date_Hosp_State_df['geocode'].str.split(' ')
Date_Hosp_State_df.head(5)

,state,date,previous_day_admission_adult_covid_confirmed,previous_day_admission_pediatric_covid_confirmed,geocoded_state,geocode
0,LA,8/1/2020,181.0,1.0,POINT (-91.840238 30.921314),"[, -91.840238, 30.921314]"
2,MD,8/1/2020,115.0,1.0,POINT (-76.687282 38.946466),"[, -76.687282, 38.946466]"
16,NY,8/1/2020,73.0,1.0,POINT (-75.59655 42.921241),"[, -75.59655, 42.921241]"
17,OH,8/1/2020,72.0,1.0,POINT (-82.70936 40.415534),"[, -82.70936, 40.415534]"
31,WA,8/1/2020,29.0,0.0,POINT (-120.592492 47.411715),"[, -120.592492, 47.411715]"

In [25]:
# Split geocode in to Longitude and Latitude
Date_Hosp_State_df['Longitude'] = Date_Hosp_State_df['geocode'].str.get(1)
Date_Hosp_State_df['Latitude'] = Date_Hosp_State_df['geocode'].str.get(2)
Date_Hosp_State_df.head(5)

,state,date,previous_day_admission_adult_covid_confirmed,previous_day_admission_pediatric_covid_confirmed,geocoded_state,geocode,Longitude,Latitude
0,LA,8/1/2020,181.0,1.0,POINT (-91.840238 30.921314),"[, -91.840238, 30.921314]",-91.840238,30.921314
2,MD,8/1/2020,115.0,1.0,POINT (-76.687282 38.946466),"[, -76.687282, 38.946466]",-76.687282,38.946466
16,NY,8/1/2020,73.0,1.0,POINT (-75.59655 42.921241),"[, -75.59655, 42.921241]",-75.59655,42.921241
17,OH,8/1/2020,72.0,1.0,POINT (-82.70936 40.415534),"[, -82.70936, 40.415534]",-82.70936,40.415534
31,WA,8/1/2020,29.0,0.0,POINT (-120.592492 47.411715),"[, -120.592492, 47.411715]",-120.592492,47.411715

In [26]:
# Final table creation
Date_Hosp_State_df = Date_Hosp_State_df.loc[:, ["state", "date", "previous_day_admission_adult_covid_confirmed", "previous_day_admission_pediatric_covid_confirmed", "Longitude", "Latitude"]]
Date_Hosp_State_df.head()

,state,date,previous_day_admission_adult_covid_confirmed,previous_day_admission_pediatric_covid_confirmed,Longitude,Latitude
0,LA,8/1/2020,181.0,1.0,-91.840238,30.921314
2,MD,8/1/2020,115.0,1.0,-76.687282,38.946466
16,NY,8/1/2020,73.0,1.0,-75.59655,42.921241
17,OH,8/1/2020,72.0,1.0,-82.70936,40.415534
31,WA,8/1/2020,29.0,0.0,-120.592492,47.411715

In [27]:
# Convert to csv
Date_Hosp_State_df.to_csv(r'F:/ETL_Project/Data_for_Analysis/Hospitalization.csv', index = False, header = True)

In [32]:
Date_Hosp_State_df.value_counts()

state  date       previous_day_admission_adult_covid_confirmed  previous_day_admission_pediatric_covid_confirmed  Longitude    Latitude
WA     9/9/2020   31.0                                          0.0                                               -120.592492  47.411715    1
GA     7/25/2020  253.0                                         20.0                                              -83.426574   32.638481    1
       7/31/2020  238.0                                         16.0                                              -83.426574   32.638481    1
       7/30/2020  248.0                                         17.0                                              -83.426574   32.638481    1
       7/29/2020  224.0                                         18.0                                              -83.426574   32.638481    1
                                                                                                                                           ..
NY     2/8/2021   652.0                                         12.0                                              -75.59655    42.921241    1
       2/9/2021   759.0                                         22.0                                              -75.59655    42.921241    1
       3/1/2021   469.0                                         11.0                                              -75.59655    42.921241    1
       3/10/2021  572.0                                         12.0                                              -75.59655    42.921241    1
CA     1/1/2021   2239.0                                        34.0                                              -119.662127  37.211164    1
Length: 2252, dtype: int64

# Export Data to SQL

In [28]:
import sqlite3

In [29]:
# Create database 
conn = sqlite3.connect('covid_db.db')
c = conn.cursor()

In [30]:
# Create table
c.execute('CREATE TABLE PCR_POSITIVE(state, date, new_results_reported, total_results_reported, geocoded_state)')
conn.commit()

In [31]:
# Upload clean data to Sql database 
Date_State_Positive_PCR_df.to_sql('PCR_POSITIVE', conn, if_exists='replace', index = False)

In [33]:
# Create table
c.execute('CREATE TABLE HOSPITALIZATION(state, date, previous_day_admission_adult_covid_confirmed, previous_day_admission_pediatric_covid_confirmed, Longitude, Latitude )')
conn.commit()

In [34]:
# Upload clean data to Sql database 
Date_Hosp_State_df.to_sql('HOSPITALIZATION', conn, if_exists='replace', index = False)